sbt
sbt-launch.jar
logs
project/project
project/project/target
project/target
target
/target
**/target/**
/target/**
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/test-results
