language: scala
scala:
   - 2.10.4
jdk:
   - openjdk6
env:
  - SBT_OPTS="-XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=256M -XX:MaxPermSize=512M"
script:
  - sbt ++$TRAVIS_SCALA_VERSION --warn update compile scripted
