name: Continuous Integration

on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [8, 21]
    runs-on: ${{ matrix.os }}
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Dfile.encoding=UTF-8
      JVM_OPTS:  -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JVM
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - name: Test
        shell: bash
        run: sbt -v clean test scripted
      - name: Ensure formatting
        shell: bash
        run: sbt -v clean scalafmtSbtCheck scalafmtCheckAll
